@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer utilities {
  ::-webkit-scrollbar {
    width: 30px;
  }
}
*/



@layer components {

  .sun {
        @apply bg-[url('/sun.svg')] bg-no-repeat w-full bg-cover bg-center h-full;

  }

}
