.progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform-origin: 0%;
  }
  