@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.interFont{
  font-family: 'Inter', sans-serif;

}

.font300 {
  font-weight: 300;
}

.svgContent {
position: absolute;
}
.svgMountain{
	z-index:990
}
.svgContentSun {
position: absolute;
left:0;

}
.svgSun{
	z-index:998
}
.svgMoon{
	z-index:998
}

.pointer {
  cursor:pointer
}

.landingText{
	font-family: 'Londrina Shadow', cursive;
	text-align: center;
	font-size: 25px;
	color:white
}



.cube {
  width: 20px;
  height: 20px;
  transform-origin: 0 0;
}


.cactusHide {
  position: absolute;
  bottom:20%;
  transform: scale(0, 0);
  right: 20%;
  width: 100px;
  height: 100px;
}
.cactus {
  position: absolute;
  bottom:20%;
  transform: scale(-0.5, 0.5);
  right: 20%;
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 500px) {
	.cactus {
		position: absolute;
		bottom:20%;
		transform: scale(-0.5, 0.5);
		right: 32%;
		width: 100px;
		height: 100px;
	  }
    
}

@media screen and (min-width: 800px) {
	.cactus {
		position: absolute;
		bottom:20%;
		transform: scale(-0.5, 0.5);
		right: 38%;
		width: 100px;
		height: 100px;
	  }
}
.middle {
  position: absolute;
  top: 0;
  left: 20px;
}

.fork {
  position: absolute;
  top: 25px;
  left: 37px;
}



.right {
  position: absolute;
  top: 0px;
  left: 54px;
}

.fork-left {
  position: absolute;
  top: 80px;
  left: 3px;
}

.left {
  position: absolute;
  left: -14px;
  top: 70px;
}

.top {
  background-color: #b9dd70;
  transform: rotate(210deg) skew(-30deg) scaleY(0.864);
}

.front {
  height: 160px;
  background: #83d281;
  transform: rotate(-30deg) skewX(-30deg) translate(0, -17px) scaleY(0.864);
}

.side {
  width: 160px;
  background: #6aaf96;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(-180px, 0);
}

.fork .front {
  height: 25px;
}

.right .front {
  height: 40px;
}
.right .side {
  width: 40px;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(-60px, 0);
}

.fork-left .front {
  height: 25px;
}

.left .front {
  height: 45px;
}
.left .side {
  width: 45px;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(-65px, 0);
}

.shadow {
  position: absolute;
  left: -70px;
  top: 96px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(30, 32, 22, 0.2) 100%);
  width: 20px;
  height: 200px;
  transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
}